<div class="flex flex-column p-2">
    <h3>Buscador</h3>

    <mat-form-field>
        <mat-label>Buscador de Productos</mat-label>
        <input
            type="text"
            matInput
            [formControl]="searchInput"
            (input)="searchProduct()"
            [matAutocomplete]="auto"
        />

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
            <mat-option *ngFor="let product of productList" [value]="product">
              {{ product.name }}
            </mat-option>
            <mat-option *ngIf="productList.length === 0 && searchInput.value && searchInput.value.length > 0" value="">
              <span>No se encontraron productos con el termino {{ searchInput.value }}</span>
            </mat-option>
          </mat-autocomplete>
    </mat-form-field>
    <span>{{ selectProduct | json}}</span>
</div>
