<h1>{{ currentProduct.id ? 'Editar ' + currentProduct.name : 'Agregar producto' }}</h1>

<mat-divider></mat-divider>

<div class="grid">
    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>
                <form class="grid" [formGroup]="productForm" (ngSubmit)="onSubmit()">
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Producto</mat-label>
                        <input matInput type="text" required formControlName="name"/>
                    </mat-form-field>
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Fabricante</mat-label>
                        <input matInput type="text" required formControlName="manufacturer"/>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Descripción</mat-label>
                        <input matInput type="text" required formControlName="descripcion"/>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Eficiencia Energetica</mat-label>
                        <input matInput type="text" required formControlName="energyEfficiency"/>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>Color</mat-label>
                        <input matInput type="text" required formControlName="color"/>
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <mat-label>texto alternativo de imagen</mat-label>
                        <input matInput type="text" formControlName="altImage"/>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-flat-button color="warn" *ngIf="currentProduct.id">Borrar</button>
                <span class="spacer"></span>
                <button mat-flat-button color="primary" (click)="onSubmit()"><mat-icon>save</mat-icon>Guardar</button>
            </mat-card-actions>
         </mat-card>
    </div>
    <div class="col-12 sm:col-6">
        <mat-card>
            <mat-card-content>
                <img [src]=" currentProduct | productImage" alt="Imagen del producto" mat-card-image>
            </mat-card-content>
        </mat-card>
    </div>
</div>